<!DOCTYPE html>
<html>
    <head>
        <!--  Code for logo started  -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/logo-nestimatic.png">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>D-Ten</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/index.css" />
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">   
        <!--JQuery-->
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/index.js"></script>

    </head>
    <body>
        <div class="main">
                <center>
                <h1 id="floatLogo">D-Ten</h1>
                <p class="tagline" id="tagline" style="display:none;">Welcome to online attedance !</p>
                <div class="blue-line"></div> <br>
                <button>Approval Section</button>
            </center>

            <!-- <div>
                <p>{{allpn.id}}</p>
                <p>{{allpn.name}}</p>
                <p>{{allpn.surname}}</p>
                <p>{{allpn.college}}</p>
            </div> -->
            <div id="sign-in-div" > 
                <br> 
                <p style="display: inline;">Your Roll No : 71 </p> <br> <br>
                <p style="display: inline;">Your Division : B6 </p> <button>UnEnroll from Division</button>
                <br>
                    <p style="display: inline;">Your Subjects : </p>
                    <ul>
                        <li>OOT Theory</li>
                        <li>OOT Practical</li>
                    </ul>
             <br><br>
             <div class="blue-line"></div> <br>
             <p style="display: inline;">OOT Theory</p>
                    <ul>
                        <li>Total lectures going to be conducted : 100</li>
                        <li>Lectures conducted : 50</li>
                        <li>Lectues remaining : 50</li>
                        <li>Lectuers atteneded : 50</li>
                        <li>Lectues needed to be attend : 25</li>
                    </ul>

                     <br> <p style="display: inline;">Your Absent Dates</p>
                    <ul>
                        <li>1-2-2018 <select >
                            <option value="onpurpose">On purpose</option>
                            <option value="collegeactiviy">college activiy</option>
                            <option value="medical">Medical Reason</option>
                        </select><br>
                       <br><p style="display: inline;">upload certificate</p><input type="file">
                        </li>
                    </ul>

                    
            
                    <br><br><br>
            </div>
        </div>
    </body>
</html>